@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root{
	--clr: #0ab3ff;
	--bgClr: #29313c;
}

body{
	height: 100vh;
	background: linear-gradient(to bottom right, #1c2630, #041221);
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.error{
	background: var(--bgClr);
	color: #e81c1c;
	font-size: 1.25rem;
	padding: 25px;
	border-radius: 15px;
	margin: 30px 25px -15px 25px;
}

.popupBg{
	position: absolute;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(3px);
	visibility: hidden;
	transition: 0.4s;
}

.open-popupBg{
	visibility: visible;
}

.popup{
	width: 500px;
	position: absolute;
	top: 30%;
	background: var(--bgClr);
	color: red;
	padding: 35px;
	border-radius: 25px;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	transform: scale(0.1);
	visibility: hidden;
	transition: 0.4s;
}

.open-popup{
	visibility: visible;
	transform: scale(1.0);
}

.close-popupAlready{
	visibility: hidden;
}

.popup button{
	background-color: var(--clr);
	color: var(--bgClr);
	border: none;
	font-size: 15px;
	font-weight: 600;
	padding: 5px 30px;
	margin-top: 30px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5;
}

.popup button:hover{
	background: #028cd1;
}

.popup button:active{
	background: #015e8c;
}

.login-register{
	padding: 60px 80px 60px;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.login-register h2{
	color: white;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.25rem;
	letter-spacing: 0.1em;
	margin-bottom: 50px;
}

.login-register p{
	color: white;
}

a{
	color: var(--clr);
	font-weight: 500;
	text-decoration: none;
	transition: 0.1s;
}

a:hover{
	color: #028cd1;
}

a:active{
	color: #015e8c;
}

.inputBox{
	position: relative;
	width: 300px;
	margin-bottom: 40px;
}

.inputBox input{
	position: relative;
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 2px solid #999;
	outline: none;
	color: white;
	font-size: 1rem;
	letter-spacing: 0.15em;
}

.inputBox label{
	position: absolute;
	left: 0;
	padding: 10px 0;
	pointer-events: none;
	color: #999;
}

.inputBox label span{
	position: relative;
	display: inline-flex;
	letter-spacing: 0.05em;
	transition: 0.2s ease-in-out;
}

.inputBox input:focus ~ label span,
.inputBox input:valid ~ label span{
	color: var(--clr);
	letter-spacing: 0.15em;
	transform: translateY(-25px);
}

.inputBox input:focus,
.inputBox input:valid{
	border-bottom: 2px solid var(--clr);
}

.inputBox input[type="submit"]{
	background: var(--clr);
	border: none;
	padding: 15px;
	border-radius: 50px;
	color: var(--bgClr);
	font-weight: 600;
	font-size: 1.15rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
	transition: 0.5s;
}

.inputBox input[type="submit"]:hover{
	letter-spacing: 0.35em;
	background: #028cd1;
}

.inputBox input[type="submit"]:active{
	background: #015e8c;
}

.dateBox{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	width: 430px;
}

.dateBox span{
	margin-top: 20px;
}

.dateBox input:focus, .dateBox input:valid{
	border-bottom: 2px solid var(--clr);
}

.dateBox label{
	color: var(--clr);
	letter-spacing: 0 15em;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--bgClr);
	padding: 15px;
	color: white;
}

nav button{
	background: none;
	font-size: 15px;
	font-weight: 500;
	padding: 7px 20px;
	color: var(--clr);
	border: 2px solid var(--clr);
	transition: 0.2s;
	cursor: pointer;
}

nav button:hover{
	letter-spacing: 1px;
	background-color: var(--clr);
	color: white;
	box-shadow: 0 0 30px 1px rgba(10, 179, 255, 1);
}

nav button:active{
	border-color: #0077b3;
	background-color: #0077b3;
	color: lightgray;
}

nav .logout{
	color: red;
	border-color: red;
	margin-right: 15px;
}

nav .logout:hover{
	background-color: red;
	box-shadow: 0 0 30px 1px red;
}

nav .logout:active{
	border-color: darkred;
	background-color: darkred;
	color: lightgray;
}

nav p{
	font-size: 20px;
	font-weight: 400;
}

.index-title{
	color: white;
}

nav .title-about{
	display: flex;
	align-items: baseline;
}

nav .about-link{
	color: white;
	font-size: 18px;
	font-weight: 400;
	margin-left: 30px;
	transition: 0.1s;
}

nav .about-link:hover{
	color: var(--clr);
	text-decoration: underline;
}

.contents{
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	color: white;
	padding: 30px;
}

.contents ul li{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.add-button{
	background: var(--clr);
	border: none;
	padding: 5px 35px;
	color: var(--bgClr);
	font-weight: 600;
	font-size: 17px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 20px;
	transition: 0.2s;
}

.add-button:hover{
	background: #029be8;
}

.add-button:active{
	background: #0077b3;
}

.index-form{
	width: 100%;
}

.list{
	display: flex;
	flex-direction: column;
	background-color: #35404f;
	padding: 15px 25px;
	width: 100%;
	border-radius: 5px;
	border: none;
	color: white;
	font-size: 16px;
	text-align: left;
	transition: 0.1s;
}

.list:hover{
	background-color: #47566b;
	cursor: pointer;
}

.list:active{
	background-color: #363f4d;
}

.list-date{
	font-size: 13px;
	color: rgba(255, 70, 70, 1.0);
}

.list-buttons{
	background: none;
	padding: 10px;
	font-size: 20px;
	margin-left: 10px;
	cursor: pointer;
	border: 2px solid;
	border-radius: 5px;
	transition: 0.2s;
}

.list-buttons:hover i{
	color: white;
}

.list-buttons:active i{
	color: lightgray;
}

.list-buttons i{
	transition: 0.2s;
}

.delete{
	border-color: red;
}

.delete:hover{
	background-color: red;
	box-shadow: 0 0 30px 1px red;
}

.delete:active{
	background-color: darkred;
	border-color: darkred;
}

.delete i{
	color: red;
}

.edit{
	border-color: green;
}

.edit:hover{
	background-color: green;
	box-shadow: 0 0 30px 1px green;
}

.edit:active{
	border-color: darkgreen;
	background-color: darkgreen;
}

.edit i{
	color: green;
}

.add-form{
	width: 90%;
	color: white;
	padding: 50px;
}

.add-form h2{
	margin-bottom: 35px;
}

.add-form input{
	width: 100%;
	height: 50px;
	background: none;
	color: white;
	border: none;
	border-bottom: 2px solid white;
	outline: none;
}

.add-form .inputBox{
	width: 100%;
	margin-bottom: 0px;
}

.add-form .error{
	background: none;
	padding: 0;
	margin-top: -20px;
	margin-bottom: 25px;
	font-size: 17px;
}

.add-form .choice{
	display: flex;
	justify-content: right;
	margin-top: 35px;
	margin-bottom: -25px;
}

.choice button{
	background: none;
	padding: 5px;
	width: 100px;
	margin-right: 25px;
	color: white;
	font-size: 15px;
	font-weight: 500;
	border: 2px solid white;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.2s;
}

.cancel:hover{
	background-color: red;
	border: 2px solid red;
	color: white;
	box-shadow: 0 0 30px 1px red;
}

.cancel:active{
	border-color: darkred;
	background-color: darkred;
	color: lightgray;
}

.add:hover{
	background-color: green;
	border: 2px solid green;
	color: white;
	box-shadow: 0 0 30px 1px green;
}

.add:active{
	border-color: darkgreen;
	background-color: darkgreen;
	color: lightgray;
}

.delete-account{
	background: none;
	font-size: 15px;
	font-weight: 500;
	padding: 7px 20px;
	margin-top: 25px;
	transition: 0.2s;
	cursor: pointer;
	color: red;
	border: 2px solid red;
	border-radius: 5px;
}

.delete-account:hover{
	background-color: red;
	color: white;
	box-shadow: 0 0 30px 1px red;
}

.change-pass{
	background: none;
	font-size: 15px;
	font-weight: 500;
	padding: 7px 20px;
	margin-top: 25px;
	transition: 0.2s;
	cursor: pointer;
	color: green;
	border: 2px solid green;
	border-radius: 5px;
}

.change-pass:hover{
	background-color: green;
	color: white;
	box-shadow: 0 0 30px 1px green;
}

.change-contents{
	display: flex;
	margin-top: 25px;
}

.change-contents label{
	margin-right: 25px;
}

.change-contents input{
	background: none;
	color: var(--clr);
	height: 25px;
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	transition: 0.2s;
}

.change-contents input:focus,
.change-contents input:valid{
	border-color: var(--clr);
}

.change-choice{
	display: flex;
	justify-content: right;
	margin-top: 25px;
}

.contents .error{
	background: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 17px;
}

.contents .success{
	background: none;
	padding: 0;
	color: green;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.error-page{
	text-align: center;
}

.error-page h2{
	font-size: 2rem;
	margin-bottom: 20px;
}

.error-page a:hover{
	text-decoration: underline;
}

.aboutH2{
	margin-bottom: 20px;
}

.about-paragraph{
	margin-bottom: 10px;
}

.green{
	color: lightgreen;
}

.yellow{
	color: yellow;
}

.red{
	color: red;
}

.cadet-blue{
	color: cadetblue;
}

.violet{
	color: violet;
}

.link:hover{
	text-decoration: underline;
}

@media (max-width: 600px){
	html{
		overflow: hidden;
	}

	nav{
		flex-direction: column;
	}

	.login-register{
		padding: 0;
		margin-top: 65px;
	}

	.inputBox{
		padding: 0 17px;
	}

	.inputBox label{
		padding: 10px 17px;
	}

	.logout{
		margin-top: 10px;
	}

	.contents{
		width: 100%;
	}

	.list{
		padding: 10px 20px;
	}

	.list-buttons{
		font-size: 15px;
	}

	.dateBox{
		width: 100%;
	}

	.change-contents{
		flex-direction: column;
	}
}