{% extends "layout.html" %}

{% block title %}
	About
{% endblock %}

{% block main %}
	<div class="contents">
		{% if account %}
			<div>
				<a href="/">
					<button class="rect-button-top">Go Back</button>
				</a>
			</div>
		{% endif %}

		<h2 class="aboutH2">About</h2>
		
		<p class="about-paragraph">This is a <strong>TODO List</strong> app that allows you to <span class="green">create</span>, <span class="yellow">edit</span> and <span class="red">delete</span> tasks. The main objective of this app is to help you organize things and <span class="violet">make you</span> more <span class="violet">productive</span>. This app offers a really <span class="cadet-blue">simple</span> and <span class="cadet-blue">easy-to-use</span> interface that can be used by anyone.</p>

		<p class="about-paragraph">This app was initially created by <a class="link" href="https://github.com/Yudin101/" target="_blank">me</a> as the final project for CS50 <span class="red">but</span> now I have added some <span class="green">new features</span> and have made a lot of new changes. Any <span class="yellow">contribution</span> is warmly welcomed.</p>

		<p class="about-paragraph"><a class="link" href="https://github.com/Yudin101/TODO-List" target="_blank">View on Github</a></p>

		<p class="about-paragraph">For any suggestions or feedback, feel free to reach out to me at <a class="link" href="mailto:yudinkarki00@gmail.com">yudinkarki00@gmail.com</a></p>
	</div>
{% endblock %}