{% extends "layout.html" %}

{% block title %}
	Add
{% endblock %}

{% block main %}
	<form class="add-form" action="/add" method="post">
		<h2>Add new TODO</h2>
		{% if error=="empty" %}
			<p class="error">Cannot be empty!</p>
		{% endif %}
		<div class="inputBox">
			<input autofocus autocomplete="off" type="text" name="todo">
			<label>Enter &nbsp your &nbsp task...</label>
		</div>

		<div class="dateBox">
			<label>Enter deadline</label>
			<span>Date: </span>
			<input autofocus type="date" name="date">
			<span>Time: </span>
			<input autofocus type="time" name="time">
		</div>
		
		<div class="choice">
			<a href="/">
				<button type="button" class="cancel" name="cancel">Cancel</button>
			</a>
			<button class="add" name="add">Add</button>
		</div>
	</form>
{% endblock %}