{% extends "layout.html" %}

{% block title %}
	Change Password
{% endblock %}

{% block main %}
	{% if error == "noPrevMatch" %}
		<div class="popupBg" id="popupBgSecond" style="visibility: visible;"> </div>
		<div class="popup" id="already-user" style="visibility: visible; transform: scale(0.8);">
			<p>Incorrect Current Password!</p>
			<button id="okButton" onclick="closePopupAlready()">Ok</button>
		</div>
	{% elif error == "success" %}
		<p class="success">Password Changed!</p>
	{% endif %}

	<div class="contents">
		<div>
			<a href="/settings">
				<button class="add-button">Go Back</button>
			</a>
		</div>
		<h2>Change password for user : {{account}}</h2>

		<form action="/change" method="post" name="accountForm" onsubmit="validateForm()">
			<div class="change-contents">
				<label>Enter current password: </label>
				<input autocomplete="off" autofocus type="password" name="currentPassword" required>
			</div>

			<div class="change-contents">
				<label>Enter new password: </label>
				<input autofocus type="password" name="password" required>
			</div>

			<div class="change-contents">
				<label>Confirm new password: </label>
				<input autofocus type="password" name="confirmPassword" required>
			</div>

			<div class="choice change-choice">
				<a href="/settings">
					<button type="button" class="cancel" name="cancel">Cancel</button>
				</a>
				<button class="add" name="save">Save</button>
			</div>
		</form>

	</div>

	<div class="popupBg" id="popupBg"> </div>

	<div class="popup" id="special-char">
		<p>Password must contain at least 1 special character!</p>
		<button onclick="closePopup()">Ok</button>
	</div>

	<div class="popup" id="minimum-char">
		<p>Password must contain at least 8 characters!</p>
		<button onclick="closePopup()">Ok</button>
	</div>

	<div class="popup" id="same-char">
		<p>Both passwords must be same!</p>
		<button onclick="closePopup()">Ok</button>
	</div>
{% endblock %}