{% extends "layout.html" %}

{% block title %}
	Change Password
{% endblock %}

{% block main %}
	<div class="contents">
		<div>
			<a href="/settings">
				<button class="rect-button-top">Back</button>
			</a>
		</div>

		{% if error == "noPrevMatch" %}
			<p class="error-p">Incorrect Current Password!</p>
		{% elif error == "success" %}
			<p class="success">Password Changed!</p>
		{% endif %}
		<p class="error-msg" id="minimum-special">Password must contain 8 characters, 1 special</p>
		<p class="error-msg" id="same-char">Passwords must match</p>

		<h2 style="margin-bottom: 25px;">Change password for user : {{account}}</h2>

		<form action="/change" method="post" name="accountForm" onsubmit="validateForm()">
			<table>
				<tbody>
					<tr>
						<td>Current Password: </td>
						<td><input class="change-contents" autocomplete="off" autofocus type="password" name="currentPassword" required></td>
					</tr>
					<tr>
						<td>New Password: </td>
						<td><input class="change-contents" autofocus type="password" name="password" required></td>
					</tr>
					<tr>
						<td>Confirm New Password: </td>
						<td><input class="change-contents" autofocus type="password" name="confirmPassword" required></td>
					</tr>
				</tbody>
			</table>

			<div class="choice change-choice">
				<a href="/settings">
					<button type="button" class="cancel" name="cancel">Cancel</button>
				</a>
				<button class="add" name="save">Save</button>
			</div>
		</form>

	</div>
{% endblock %}