{% extends "layout.html" %}

{% block title %}
	Delete Account
{% endblock %}

{% block main %}
	<p class="delete-warning"><b>You CANNOT RECOVER your account!</b></p>

	<div class="contents">
		<div>
			<a href="/settings">
				<button class="rect-button-top">Back</button>
			</a>
		</div>

		{% if error == "noPrevMatch" %}
			<p class="error-p">Incorrect Password!</p>
		{% endif %}

		<h2>Confirm deleting user : {{account}}</h2>


		<form action="/delete" method="post">
			<table>
				<tbody>
					<tr>
						<td>Password: </td>
						<td><input class="change-contents" autocomplete="off" autofocus type="password" name="password" required></td>
					</tr>
				</tbody>
			</table>

			<div class="choice change-choice">
				<a href="/settings">
					<button type="button" class="add" name="cancel">Cancel</button>
				</a>
				<button class="cancel" name="save">Delete</button>
			</div>
		</form>
	</div>
{% endblock %}