{% extends "layout.html" %}

{% block title %}
	Delete Account
{% endblock %}

{% block main %}
	{% if error == "noPrevMatch" %}
		<div class="popupBg" id="popupBgSecond" style="visibility: visible;"> </div>
		<div class="popup" id="already-user" style="visibility: visible; transform: scale(0.8);">
			<p>Incorrect Password!</p>
			<button id="okButton" onclick="closePopupAlready()">Ok</button>
		</div>
	{% endif %}
	<p class="delete-error"><b>You CANNOT RECOVER your account!</b></p>

	<div class="contents">
		<div>
			<a href="/settings">
				<button class="rect-button-top">Go Back</button>
			</a>
		</div>
		<h2>Confirm deleting user : {{account}}</h2>


		<form action="/delete" method="post">
			<div class="change-contents">
				<label>Enter password: </label>
				<input autocomplete="off" autofocus type="password" name="password" required>
			</div>

			<div class="choice change-choice">
				<a href="/settings">
					<button type="button" class="add" name="cancel">Cancel</button>
				</a>
				<button class="cancel" name="save">Delete</button>
			</div>
		</form>
	</div>
{% endblock %}