{% extends "layout.html" %}

{% block title %}
	Edit
{% endblock %}

{% block main %}
	<form class="add-form" action="/update" method="post">
		<h2>Edit existing TODO</h2>

		<div class="inputBox">
			<input autofocus autocomplete="off" type="text" name="editedTask" value="{{edit}}" required>
			<label>Edit &nbsp your &nbsp task...</label>
		</div>

		<div class="dateBox">
			<p>Edit deadline</p>
			<span>Date: </span>
			<input autofocus type="date" name="editedDate" value="{{editDate}}">
			<span>Time: </span>
			<input autofocus type="time" name="editedTime" value="{{editTime}}">
		</div>

		<div class="choice">
			<a href="/">
				<button type="button" class="cancel" name="cancel">Cancel</button>
			</a>
			<button class="add" name="save">Save</button>
		</div>
	</form>
{% endblock %}