{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block main %}
	<div class="contents">
		<div>
			<a href="/add">
				<button class="add-button">Add</button>
			</a>
		</div>
		<ul>
			{% if todoLen == 0 %}
				<p>Seems like all your tasks are completed!</p>
			{% else %}
				{% for todo in todoList %}
					<li>
						<form class="index-form" action="/edit" method="post">
							<input type="hidden" name="edit" value="{{todo.todos}}">
							<button class="list">
									{% if todo["tim"] == "" and todo["dat"] == "" %}
										<span class="list-date"><strong>No Deadline</strong></span>

									{% elif todo["tim"] != "" and todo["dat"] == "" %}
										<span class="list-date"><strong>Deadline:</strong> {{ todo["tim"] }}</span>

									{% elif todo["tim"] == "" and todo["dat"] != "" %}
										<span class="list-date"><strong>Deadline:</strong> {{ todo["dat"] }}</span>

									{% else %}
										<span class="list-date"><strong>Deadline:</strong> {{ todo["tim"] }}, {{ todo["dat"] }}</span>
									{% endif %}

									<p class="task-text">{{ todo["todos"] }}</p>
							</button>
						</form>

						<form action="/" method="post">
							<input type="hidden" name="remove" value="{{todo.todos}}">
							<button class="list-buttons delete"><i class="fa-solid fa-trash"></i></button>
						</form>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
{% endblock %}