<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TODO - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="icon" href="/static/favicon.ico">
	<script src="https://kit.fontawesome.com/f5888c4373.js" crossorigin="anonymous"></script>
</head>
<body>
	{% if session["user_id"] %}
        <div class="mobile-navbar hidden-desktop">
            <div class="toggleDiv">
                <button class="toggle-btn hidden-desktop" onclick="toggleSidebar()">☰</button>
            </div>
            <div class="titleDiv">
                <h1 class="index-title hidden-desktop"><a href="/">TODO List</a></h1>
            </div>
        </div>

        <nav class="desktop-navbar">
            <div class="title-about">
                <a href="/">
                    <h1 class="index-title">TODO List</h1>
                </a>
                <a href="/about">
                    <h1 class="about-link">About</h1>
                </a>
            </div>

            {% if account %}
                <p>User: {{account}}</p>
            {% endif %}

            <div>
                <a href="/logout">
                    <button class="nav-button logout">Logout</button>
                </a>

                <a href="/settings">
                    <button class="nav-button"><i class="fa-solid fa-gear"></i></button>
                </a>
            </div>
        </nav>

        <div class="sidebar hidden-desktop" id="sidebar">
            <div class="close-btn" onclick="closeSidebar()">×</div>

            <h1>
            	<a href="/about" class="about-link">About</a>
        	</h1>
        	
            <div class="sidebar-div">
	            <a href="/logout">
	                <button class="nav-button logout">Logout</button>
	            </a>
	            
	            <a href="/settings">
	                <button class="nav-button"><i class="fa-solid fa-gear"></i></button>
	            </a>
            </div>
        </div>
    {% endif %}

	<main>
		{% block main %}
		{% endblock %}
	</main>
	<script src="/static/script.js"></script>
</body>
</html>