{% extends "layout.html" %}

{% block title %}
	Login
{% endblock %}

{% block main %}
	{% if error %}
		<div class="popupBg" id="popupBgSecond" style="visibility: visible;"> </div>
		<div class="popup" id="already-user" style="visibility: visible; transform: scale(0.8);">
			<p>Invalid Username and/or Password!</p>
			<button id="okButton" onclick="closePopupAlready()">Ok</button>
		</div>
	{% endif %}

	<form class="login-register" action="/login" method="post" name="accForm">
		<h2>Login</h2>
		<div class="inputBox">
			<input autofocus autocomplete="off" type="text" name="username" required>
			<label>USERNAME</label>
		</div>

		<div class="inputBox">
			<input type="password" name="password" required>
			<label>PASSWORD</label>
		</div>

		<div class="inputBox">
			<input type="submit" name="submit" value="Login">
		</div>
		
		<a href="/register">Create a new account</a>
	</form>
{% endblock %}