{% extends "layout.html" %}

{% block title %}
	Login
{% endblock %}

{% block main %}
	<div class="login-register-main">
		<form class="login-register-form" action="/login" method="post" name="accForm">
			<div class="login-register-contents">
				<h1>Welcome Back!</h1>
				<p style="color: gray;">Boost productivity. Log in to complete tasks.</p>
			</div>

			<div class="login-register">
				<!-- The h3 below is for responsive view -->
				<h3 class="login-register-title">LOGIN</h3>
				
				{% if error %}
					<p class="error-p">Invalid username/password</p>
				{% endif %}

				<div class="inputBox">
					<input autofocus autocomplete="off" type="text" name="username" required>
					<label>USERNAME</label>
				</div>

				<div class="inputBox">
					<input id="password" type="password" name="password" required>
					<label>PASSWORD</label>
					<p id="show-hide-pass" onclick="showHide(0)">SHOW</p>
				</div>

				<div class="inputBox">
					<input type="submit" name="submit" value="Login">
				</div>

				<p class="new-login">Don't have an account?<a href="/register">&nbspRegister</a></p>
			</div>
		</form>
	</div>
{% endblock %}
