{% extends "layout.html" %}

{% block title %}
	Register
{% endblock %}

{% block main %}
	<div class="login-register-main">
		<form class="login-register-form" action="/register" method="post" name="accountForm" onsubmit="validateForm()">
			<div class="login-register-contents">
				<h1>TODO - List</h1>
				<p style="color: gray;">Join us! Sign up now for organized productivity.</p>
			</div>

			<div class="login-register register">
				<!-- The h3 below is for responsive view -->
				<h3 class="login-register-title">REGISTER</h3>

				{% if error == "already" %}
					<p class="error-p">Username already exists!</p>
				{% endif %}

				<p class="error-msg" id="minimum-special">Password must contain 8 characters, 1 special</p>
				<p class="error-msg" id="same-char">Passwords must match</p>
					
				<div class="inputBox">
					<input autocomplete="off" autofocus type="text" name="username" required>
					<label>USERNAME</label>
				</div>

				<div class="inputBox">
					<input id="password" type="password" name="password" required>
					<label>PASSWORD</label>
					<p id="show-hide-pass" onclick="showHide(0)">SHOW</p>
				</div>

				<div class="inputBox">
					<input id="conpassword" type="password" name="confirmPassword" required>
					<label>CONFIRM &nbsp PASSWORD</label>
					<p id="show-hide-con-pass" onclick="showHide(1)">SHOW</p>
				</div>

				<div class="inputBox">
					<input type="submit" name="submit" value="Create">
				</div>
				
				<p class="new-login">Already have an account?<a href="/login">&nbspLogin</a></p>
			</div>		
		</form>
	</div>
{% endblock %}
