{% extends "layout.html" %}

{% block title %}
	Register
{% endblock %}

{% block main %}
	<div class="login-register-main">
		<form class="login-register-form" action="/register" method="post" name="accountForm" onsubmit="validateForm()">
			<div class="login-register-contents">
				<h1>TODO - List</h1>
				<p style="color: gray;">Join us! Sign up now for organized productivity.</p>
			</div>

			<div class="login-register">
				<h3 class="login-register-title">REGISTER</h3>

				<div class="inputBox">
					<input autocomplete="off" autofocus type="text" name="username" required>
					<label>USERNAME</label>
				</div>

				<div class="inputBox">
					<input id="password" type="password" name="password" required>
					<label>PASSWORD</label>
					<p id="show-hide-pass" onclick="showHide(0)">SHOW</p>
				</div>

				<div class="inputBox">
					<input id="conpassword" type="password" name="confirmPassword" required>
					<label>CONFIRM &nbsp PASSWORD</label>
					<p id="show-hide-con-pass" onclick="showHide(1)">SHOW</p>
				</div>

				<div class="inputBox">
					<input type="submit" name="submit" value="Create">
				</div>
				
				<p class="new-login">Already have an account?<a href="/login">&nbspLogin</a></p>
			</div>		
		</form>
	</div>

	<div class="popupBg" id="popupBg"> </div>

	<div class="popup" id="special-char">
		<p>Password must contain at least 1 special character!</p>
		<button onclick="closePopup()">Ok</button>
	</div>

	<div class="popup" id="minimum-char">
		<p>Password must contain at least 8 characters!</p>
		<button onclick="closePopup()">Ok</button>
	</div>

	<div class="popup" id="same-char">
		<p>Both passwords must be same!</p>
		<button onclick="closePopup()">Ok</button>
	</div>

	{% if error == "already" %}
		<div class="popupBg" id="popupBgSecond" style="visibility: visible;"> </div>
		<div class="popup" id="already-user" style="visibility: visible; transform: scale(0.8);">
			<p>Username already exists!</p>
			<button id="okButton" onclick="closePopupAlready()">Ok</button>
		</div>
	{% endif %}
{% endblock %}
